@media (min-width: 1201px) {
  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  
    
    .header {
      font-family: 'Exo 2';
      font-weight: thin;
      color: white;
      font-size: 36px;
      text-align: center;
    }

    .card_container {
      max-width: 1300px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .three_plus {
    margin-top: 50px;
    justify-content: start;
  }
}

@media (max-width: 1200px) {
  .container {
    justify-content: start;
    margin: 50px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

  // .three_plus {
  //   margin-top: 50px;
  //   justify-content: start;
  // }

  .header {
    font-family: 'Exo 2';
    font-weight: thin;
    color: white;
    font-size: 36px;
    text-align: center;
  }
    .card_container {
      max-width: 800px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

// @media (min-width: 1920px) {
//   .container {
//     display: flex;
//     height: 100%;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;

//   .three_plus {
//     margin-top: 50px;
//     justify-content: start;
//   }

//     .header {
//       font-family: 'Exo 2';
//       font-weight: thin;
//       color: white;
//       font-size: 36px;
//       text-align: center;
//     }

//     .card_container {
//       min-width: 1300px;
//       display: flex;
//       justify-content: center;
//       flex-wrap: wrap;
//     }
//   }
// }


